/* CSS stylesheet */
h1 {
    color:whitesmoke;
    font-size: 28px;
    /* align-items: center; */
    text-align: center;
}

.tangerine {
  font-family: "Tangerine",serif;
}

#Writing-title {
  font-family:"Tangerine",serif;
  font-size:56px;
  text-align: center;
  color:whitesmoke;
}

#Data-title {
  font-family:"Lucida Console", Monaco, monospace;
  font-size: 28px;
  text-align: center;
}

#paragraph-title {
  color:whitesmoke;
  font-size: 40px;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline;
  font-weight:600;
}

#writing-paragraph-title {
  color:white;
  text-shadow: 4px 4px 2px black;
  font-size: 60px;
  align-items: center;
}

#writing-title-card {
  box-shadow: 0 -2px 20px 0 lightskyblue;
  padding: 16px;
  text-align: center;
  border-radius: 140px;
  background-color:white;
  font-family: "Times New Roman", Times, serif;
  font-weight:700;
  width:80%;
  overflow: hidden;
  overflow-wrap: normal;
  background-color: black;
  background-image: url('../images/flipped-writing.jpg');
  background-position: 41% 60%;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

#data-title-card {
  box-shadow: 0 -2px 20px 0 lightskyblue;
  padding: 16px;
  text-align: center;
  border-radius: 140px;
  background-color:white;
  font-family: "Times New Roman", Times, serif;
  font-weight:700;
  width:80%;
  overflow: hidden;
  overflow-wrap: normal;
  background-color: black;
  background-image: url('../images/data-background2.jpg');
  background-position: 41% 60%;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

#writing-project-card {
  color: black;
  font-size: 50px;
  font-weight: 600;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline;
}

#data-project-card {
  color: black;
  font-size: 45px;
  font-weight: 550;
  align-items: center;
  font-family: Cambria, Georgia, serif;
  text-decoration: underline;
}

#data-welcome {
  color: black;
  font-size: 50px;
  font-weight: 600;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}

/* #paragraph-body {
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
  word-wrap:break-word;
} */

.jumbotron{
  background-image: url('../images/background4.jpg');
  background-position: 10% 60%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:black;
}

.row {
  margin: 0 0px;
}

.row:after {
  content:"";
  display: table;
  clear:both;
}
#Jumbo_welcome {
  color:white;
  font-style: bold;
  /* font-size: 150px; */
  text-shadow: 5px 0 black, 0 0px black, 2px 0 black, 0 3px black;
  /* letter-spacing:1px; */
  font-family: Georgia, serif;
}

.textarea{
  size: 10px;
}

.d-block{
    height:320px;
    width: 240px;
}

#file{
    color:blue;
}

#labelOR{
    color:red;
    font-weight: bold;
    font-size: 18px;
    padding-left: 200px;
}

#custom-text{
    padding-left: 10px;
    color: grey;
}

.btn-primary{
    padding-left: 20px;
}

#uploadedImg{
    border: 5px;
    border-color: black;
    box-shadow: 10px;
    height: 80px;
    width: 80px;
    display: none;
}

.dropdown{
    /* background-color: white; */
}

/* 
#animalType, #BreedName {
    padding-left: 10%;
    padding:15px;
    padding-right: 10%;
} */

/* GLOBAL STYLES */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
    background-color: black;
  }

#index-body {
  padding-bottom: 40px;
  color: #5a5a5a;
  background-color: black;
  background-image: url('../images/working-at-night.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#writing-body {
  padding-bottom: 40px;
  color: #5a5a5a;
  background-color: black;
  background-image: url('../images/writing-background2.jpg');
  background-position: 50% 83%;
  background-size: inherit;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#data-body {
    background-image: url('../images/Data-background.jpg');
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 40px;
    background-attachment:fixed;
}

#writing-paragraph {
  font-family: "Times New Roman", Times, serif;
  overflow: hidden;
  overflow-wrap: normal;
  font-size: 20px;
}

#data-paragraph {
    font-family: "Times New Roman", Times, serif;
    overflow: hidden;
    overflow-wrap: normal;
    font-size: 20px;
}

img.rounded-corners {
  border-radius: 30px;
  }

.container {
  width: 100%;
  float: left;
  white-space: nowrap;
  margin-bottom: 5px;
}

  /* CUSTOMIZE THE NAVBAR
  -------------------------------------------------- */

  /* Special class on .container surrounding .navbar, used for positioning it into place. */
  .navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 10px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  .navbar-wrapper .navbar {

  }

  /* Remove border and change up box shadow for more contrast */
  .navbar .navbar-inner {
    background-color:rgba(49,50,60);
    border: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
       -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
            box-shadow: 0 2px 20px lightskyblue;
    /* background-image: url('../images/working-at-night.jpg');
    background-position: 0% 5%;
    background-size: cover;
    background-repeat: no-repeat; */
  }

  /* Downsize the brand/project name a bit */
  .navbar .brand {
    padding: 10px 0px 10px; /* Increase vertical padding to match navbar links */
    font-size: 40px;
    font-weight: bold;
    text-shadow: -4px 6px 1px black;
    color: lightskyblue;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }

  /* Navbar links: increase padding for taller navbar */
  .navbar .nav > li > a {
    padding: 15px 20px;
    color: lightskyblue;
  }

  .navbar .nav > li > a:hover {
    background-color: lightskyblue;
    color: black;
    text-shadow: 0px 0px 0px white;
  }

  /* Offset the responsive button for proper vertical alignment */
  .navbar .btn-navbar {
    margin-top: 10px;
  }

#writing-navbar {
  background-color:rgba(49,50,60);
  border: 0;
  text-shadow: 1px 3px 3px black;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 20px lightskyblue;
  background-image: url('../images/flipped-writing.jpg');
  background-position: 0% 40%;
  background-size: cover;
  background-repeat: no-repeat;
  font-size:15px;
  font-weight: 700;
}

#data-navbar {
  background-color:rgba(49,50,60);
  border: 0;
  text-shadow: 2px 3px 2px grey;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 20px lightskyblue;
  background-image: url('../images/data-background2.jpg');
  background-position: 20% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  font-size:15px;
  font-weight: 700;
}

#dropdown-menu-menu {
  text-shadow: 0px 0px 0px white;
  color:green;
}

  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  /* Carousel base class */
  .carousel {
    margin-bottom: 60px;
  }

  .carousel .container {
    position: relative;
    z-index: 9;
  }

  .carousel-control {
    height: 0px;
    margin-top: 300px;
    font-size: 100px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
  }

  .carousel .item {
    height: 800px;
  }

  .carousel img {
    position: absolute;
    top: -100px;
    left: 0;
    min-width: 100%;
    height: 500px;
  }

  #Frenchy {
      top:-100px;
  }

  #Doby {
      top:-250px;
  }

  #Rag {
      top:-180px;
  }

  .carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 550px;
    padding: 0 20px;
    margin-top: 200px;
  }
  .carousel-caption h1,
  .carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
  }
  .carousel-caption .btn {
    margin-top: 10px;
  }

/* CUSTOMIZE CARDS
  -------------------------------------------------- */
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 -2px 20px 0 lightskyblue;
    transition: 0.3s;
    text-align: center;
    border-radius: 20px;
    background-color:rgba(49,50,60);
    max-width:100%;
    width: 75%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 25px;
  }

.card + .card {
    margin: 0 0 0 8px;
  }
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 16px 32px 0 silver;
  }
  
/* Add some padding inside the card container */
/* .card-container {
  padding: 5px 16px 20px 0px;
} */

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

* {
  box-sizing: border-box;
}

.column {
  display: block;
  float: left;
  width: 33%;
  padding: 20px 20px;
}

.paragraph-column {
  float:left;
  width:100%;
  max-width:100%;
  overflow: hidden;
  overflow-wrap: normal;
  word-break: normal;
}

.paragraph-card {
  box-shadow: 0 -2px 20px 0 lightskyblue;
  padding: 16px;
  text-align: center;
  border-radius: 20px;
  background-color:rgba(49,50,60);
  max-width: 100%;
  overflow: hidden;
  overflow-wrap: normal;
  word-break: normal;
}

#writing-paragraph-card {
  box-shadow: 0 -2px 20px 0 lightskyblue;
  padding: initial;
  text-align: center;
  border-radius: 20px;
  background-color:whitesmoke;
  width: 80%;
  overflow: hidden;
  overflow-wrap: normal;
  word-break: normal;
  display: block;
    margin-left: auto;
    margin-right: auto
}

.card-block {
  overflow-wrap: normal;
}

.card-text {
  overflow-wrap: normal;
  color: whitesmoke;
  font-size: 20px;
  word-break: normal;
  align-items: center;
  text-align: center;
  overflow: hidden;
  word-break: normal;
}

  /* MARKETING CONTENT
  -------------------------------------------------- */

  /* Center align the text within the three columns below the carousel */
  .marketing .span4 {
    text-align: center;
  }
  .marketing h2 {
    font-weight: normal;
  }
  .marketing .span4 p {
    margin-left: 10px;
    margin-right: 10px;
  }


  /* Featurettes
  ------------------------- */

  .featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
  }
  .featurette {
    padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
    overflow: hidden; /* Vertically center images part 2: clear their floats. */
  }
  .featurette-image {
    margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
  }

  /* Give some space on the sides of the floated elements so text doesn't run right into it. */
  .featurette-image.pull-left {
    margin-right: 40px;
  }
  .featurette-image.pull-right {
    margin-left: 40px;
  }

  /* Thin out the marketing headings */
  .featurette-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
  }



  /* RESPONSIVE CSS
  -------------------------------------------------- */

  @media (max-width: 979px) {

    .container.navbar-wrapper {
      margin-bottom: 5px;
      width: auto;
    }
    .navbar-inner {
      border-radius: 0;
      margin: -20px 0;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      width: auto;
      height: 500px;
    }

    .featurette {
      height: auto;
      padding: 0;
    }
    .featurette-image.pull-left,
    .featurette-image.pull-right {
      display: block;
      float: none;
      max-width: 40%;
      margin: 0 auto 20px;
    }
  }


  @media (max-width: 767px) {

    .navbar-inner {
      margin: -20px;
    }

    .carousel {
      margin-left: -20px;
      margin-right: -20px;
    }
    .carousel .container {

    }
    .carousel .item {
      height: 300px;
    }
    .carousel img {
      height: 300px;
    }
    .carousel-caption {
      width: 65%;
      padding: 0 70px;
      margin-top: 100px;
    }
    .carousel-caption h1 {
      font-size: 30px;
    }
    .carousel-caption .lead,
    .carousel-caption .btn {
      font-size: 18px;
    }

    .marketing .span4 + .span4 {
      margin-top: 40px;
    }

    .featurette-heading {
      font-size: 30px;
    }
    .featurette .lead {
      font-size: 18px;
      line-height: 1.5;
    }

  }