<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css">
</head>
<body>
    <!-- NAVBAR
    =================== -->
    <div class="navbar-wrapper">
        <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
        <div class="container">

            <div class="navbar navbar">
                <div class="navbar-inner">
                    <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                  </button>
                                </div>
                    <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                    <a class="brand" href="#">Chris Ng</a>
                    <!-- <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        Pages and Projects
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> -->
                    <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="../webpages/ETL.html">ETL</a></li>
                                    <li><a href="../webpages/Data.html">All Visualizations</a></li>
                                    <li class="dropdown">
                                          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Analysis
                                          <span class="caret"></span></a>
                                          <ul class="dropdown-menu">
                                            <li><a href="../webpages/Where.html">Where are data science jobs?</a></li>
                                            <li><a href="../webpages/What.html">What skills should I have?</a></li>
                                            <li><a href="../webpages/Salary.html">Salary Information</a></li>
                                            <li><a href="../webpages/Websites.html">Which website is the best at finding data jobs?</a></li>
                                          </ul>
                                        </li>
                                   <!-- li role="separator" class="divider"></li>-->
                                      <!-- <li><a href="#">Don't click me</a></li> -->
                                    </li>
                                  </ul>
                              </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                    </nav>
                </div><!-- /.navbar-inner -->
            </div><!-- /.navbar -->
    <!-- Beginning of Jumbotron -->
    <!-- Make it bigger -->
    <div class="jumbotron text-center">
        <h1 class="display-4 text-center" id="Jumbo_welcome">Welcome To Chris Ng's Portfolio!</h1>
        <p class="lead" id="Jumbo-description"></p>
    </div> <!-- End of Jumbotron -->
        </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->
</body>
</html>