<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css">
</head>
<body>
    <!-- NAVBAR
    =================== -->
    <div class="navbar-wrapper">
        <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
        <div class="container">
            <div class="navbar navbar">
                <div class="navbar-inner">
                    <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                  </button>
                                </div>
                    <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                    <a class="brand" href="index.html">Chris Ng</a>
                    <!-- <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        Pages and Projects
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> -->
                    <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="https://www.linkedin.com/in/christopherngwriting/">LinkedIn</a></li>
                                    <li><a href="https://github.com/ChrNg404">Github</a></li>
                                    <li><a href="chrisnwriting.wordpress.com">Personal Blog</a></li>
                                    <li><a href="">About Me</a></li>
                                    <li class="dropdown">
                                          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Associated Websites
                                          <span class="caret"></span></a>
                                          <ul class="dropdown-menu">
                                            <li><a href="pawsandeffectblog.com">Paws And Effect</a></li>
                                            <li><a href="https://philosophersfishtank.wordpress.com/">Philosopher's Fish Tank</a></li>
                                            <li><a href="https://aerialbreadgaming.wordpress.com/">Aerial Bread Gaming</a></li>
                                            <li><a href="">LinkedIn</a></li>
                                            <li><a href="">Github</a></li>
                                          </ul>
                                        </li>
                                   <!-- li role="separator" class="divider"></li>-->
                                      <!-- <li><a href="#">Don't click me</a></li> -->
                                    </li>
                                  </ul>
                              </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                    </nav>
                </div><!-- /.navbar-inner -->
            </div><!-- /.navbar -->
    <!-- Beginning of Jumbotron -->
    <!-- Make it bigger -->
    <div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4 text-center" id="Jumbo_welcome">Welcome To Chris Ng's Portfolio!</h1>
        <p class="lead" id="Jumbo-description"></p>
        </div> <!-- End of Jumbotron -->
    <div class="row">
        <div class='column text-center'>
            <div class="card"><a href="writing.html">
            <p class="tangerine" id="Writing-title">Writing</p>
            <img class = "rounded-corners text-center" src="../static/images/writing.jpg" alt="writing" style="width:310px;height:264px;">
            </a>
            </div>
        </div>
        <div class='column text-center'>
            <div class="card"><a href="index.html">
            <h1 id="Data-title">Data Analysis <br>and Visualization</h1>
            <br>
            <img class = "rounded-corners" src="../static/images/graph_laptop_coffee.jpg" alt="data" style="width:310px;height:264px;">
            </a>
            </div>
        </div>
        <div class="column text-center">
            <div class="card"><a href="index.html">
            <h1>TBA</h1>
            </a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="paragraph-column">
        <div class="paragraph-card">
                <h1 id="paragraph-title"> Hello! My Name is Chris! </h1>
                <p class='card-text'> Welcome to my portfolio! <br> Here you will find examples of my past and current work. Please use the buttons above to navigate yourself to whichever part of my skillset is the most interesting to you! <br> <br> In my writing section, you will find all of my written projects, including blogs, stories, and articles. <br> Data Analysis and Visualization will have all of my data related work, including graphs I've created and projects relating to data analysis. <br> The last section is currently under construction, but stay tuned for more announcements!</p>
            </div>
            </div>
        </div>
    </div> <!-- /.container -->
</div><!-- /.navbar-wrapper -->
</body>
</html>